extends ../layouts/default

block content
    .container: .jumbotron
        h1 Welcome
        p Come join us on the GamedevMI Discord Channel!
        p
            span Invite Link:
            a(href="https://discord.gg/YWSCj5h")  https://discord.gg/YWSCj5h
