extends ../layouts/default

block content
	.container
		h1 Job Board
		iframe(width="100%", height="1000", src="https://docs.google.com/document/d/1-2G409p-z2aewDZy7J-QXeRFtXC5lDNAGVBzkMNhqWM/edit?usp=sharing")