extends ../layouts/default

block content
	.container
		h1 Resources
		br
		h3 Logo
		a(href="/GamedevMI.zip")
			img(src="/images/GamedevMI/GamedevMI_Logo_square_512.png")
		br
		br
		a(href="/GamedevMI.zip")
			span http://gamedevmi.com/GamedevMI.zip
		br
		div
			i 
				span Created by 
				a(href="http://boywithstick.com/") Kevin Douglas