#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

.navbar.navbar-default {
	background-color: transparent;
	border-color: transparent;
	border-bottom: 1px solid #ccc;
    border-radius: 0px;
    padding-bottom: 10px;
	li.active a {
		border-radius: 5px;
	}
}

.event {
    padding: 15px;
	margin-top: 15px;
    .icon {
        float:left;
        img {
            width: 100px;
            margin: 20px;
        }
    }
    .content {
        float: left;
    }
	.description {
		padding: 10px;
	}
    clear:both;
}

.presentation {
    padding: 15px;
	margin-top: 15px;
    .icon {
        img {
            width: 100px;
            margin: 20px;
        }
    }
    .content {
    }
	.description {
		padding: 10px;
	}
}

.organization {
    padding: 15px;
    .icon {
        float:left;
        img {
            width: 100px;
            margin: 20px;
        }
    }
    .content {
        float: left;
    }
    clear:both;
}

.person {
    padding: 15px;
    .icon {
		vertical-align: top;
        img {
            width: 100px;
            margin: 20px;
        }
    }
}

.videoWrapper {
    position: relative;
    padding-bottom: 52%; /*56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;

	iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
